---
layout: page
description: "Solar Halo Studio Indie Game Developer"
---

{% for post in paginator.posts %}
<div class="post-preview">
	<img src="{{site.url}}/{{site.title_images}}/{{post.image}}.jpg">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h3 class="post-title">
            {{ post.title }}
        </h3>
    </a>
    <p class="post-meta">
		{{ post.date | date: "%B %-d, %Y" }}
	</p>
    <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="post-content-preview">
            {{ post.excerpt }}
        </div>
    </a>
</div>
<br>
<hr>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    <strong>Page: {{ paginator.page }} of {{ paginator.total_pages }}</strong>
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href ="{{site.url}}/all_posts.html">All Posts</a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="https://www.reddit.com/user/JimCocoMo">
    <img src="{{site.url}}/reddit_icon.png">
  </a>
</div>
